.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .content {
    width: 100%;
    padding: 5vw;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content section {
    width: 100%;
    max-width: 380px;
}

.register-container .content section h1{
    margin: 70px 0px 32px;
    font-size: 2.3vw;
}

.register-container .content section p{
    font-size: 1.2vw;
}

.register-container .content form{
    width: 100%;
    max-width: 460px;
}

.register-container .content form input{
    margin-top: 1vw;
}

.register-container .content form .input-group{
    display: flex;
    justify-content: space-between;
} 

.register-container .content form .input-group input + input{
    margin-left: 1vw;
} 